<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <p class="m-0 text-dark text-center ">
    <a href="{% url 'about-author' %}">About Author</a>
    -
    <a href="{% url 'spec' %}">Technologies</a>
  </p>
  <p class="m-0 text-dark text-center ">
    <a href="{% url 'groups' %}">All groups</a>
    -
    <a href="{% url 'authors' %}">All authors</a>
  </p>
  <p class="m-0 text-dark text-center ">
      Social club
     <!-- <span style="color:red">Ya</span>tube © {% now "Y" %}, все права защищены. -->
  </p>
  <!-- <p class="m-0 text-dark text-center "> {{ owner }} </p> -->
</footer>